<ion-header>
  <ion-toolbar color = 'warning'>
    <ion-icon name="arrow-back-outline" (click)="backButton()"></ion-icon>
    <ion-title >Vendor Application</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
      <ion-item>
        <ion-label position="floating" name = "restuarant_name">Restuarant Name</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" name = "email_address">Email Address</ion-label>
        <ion-input type = "email"></ion-input>
      </ion-item>

     <ion-item>
        <ion-label position="floating">Address</ion-label>
        <ion-input placeholder="Plot Number" name = "Plot_number"></ion-input>
        <ion-input placeholder = "Street Name" name = "Street_name"></ion-input>
        <ion-input placeholder="Suburb" name = "Suburb"></ion-input>
        <ion-input placeholder="City" name = "City"></ion-input>
        <ion-input placeholder="Province" name = "Province"></ion-input>
        <ion-input placeholder="Zip Code" name = "Zip_code"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label  position="floating">Password</ion-label>
        <ion-input type= "password" name = "pass_word"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label  position="floating">Confirm Password</ion-label>
        <ion-input type= "password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-item>
          Is delivery available ?  
          <ion-toggle [(ngModel)] ="isDeliever" color="success"></ion-toggle>
          <p *ngIf="isDeliever" name = "delieYes">Active</p>
          <p *ngIf="!isDeliever" name = "delieNo">Inactive</p>
        </ion-item>
        
        <ion-item>
          <ion-label position="fixed">Attachments</ion-label>
          <label class="control-label small" for="file_img">(jpg/pdf):</label> <input type="file" name="file_img">
        </ion-item>
      </ion-item>
    <!-- </div>  -->
    <div>
      <ion-button color = "success" shape="round" (click)="goHome()">Register</ion-button>
      <ion-button color = "danger" shape = "round" (click)= "backButton()">Cancel</ion-button>
    </div>
  <!-- </div> -->
  
</ion-content>
