<ion-header>
  <ion-toolbar>
    <ion-title>admin-login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="item item-trns text-center">
    
        <form method="POST" (ngSubmit)="login(form)">
            <ion-grid >
              <ion-row class="cardconteudo" class="ion-justify-content-center">
                <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12" color="transparent">
                  <div class="ion-padding" >
                    <ion-item>
                      <ion-input [(ngModel)]="loginUserData.email_address" name="email" type="text" placeholder="Username/Name@email.com"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-input [(ngModel)]="loginUserData.password" name="password" type="password" placeholder="Password"></ion-input>
                    </ion-item>
                  </div>
                  <div class="ion-padding">
                    <ion-button block  (click)="valid()">Login</ion-button>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
    
  </ion-card>

</ion-content>
