<ion-header>
  <ion-toolbar color = 'warning'>
    <ion-icon name="arrow-black" (click)="backButton()"></ion-icon>
    <ion-title>Customer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <!--div class="card-body">

    
        <ion-label position="floating">Name</ion-label>
        <ion-input ngModel #name = "ngModel" [(ngModel)]="userData.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Last Name</ion-label>
        <ion-input ngModel #surname = "ngModel" [(ngModel)]="userData.surname" type= "text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Gender</ion-label>
        <ion-select placeholder="Select One">
          <ion-select-option value="f">Female</ion-select-option>
          <ion-select-option value="m">Male</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Cellphone number</ion-label>
        <ion-input ngModel #cell_no = "ngModel" [(ngModel)]="userData.cell_no" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label  position="floating">Password</ion-label>
        <ion-input ngModel #password ="ngModel" [(ngModel)]="userData.password" type ="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label  position="floating">Confirm Password</ion-label>
        <ion-input ngModel #password ="ngModel" [(ngModel)]="userData.cpassword" type ="password"></ion-input>
      </ion-item>
      
    </div-->
    <ion-item>
      <ion-label position="floating" [(ngModel)] = "userData.name">Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" [(ngModel)] = "userData.surname">Surname</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" [(ngModel)] = "userData.email_address" #email>Email</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" [(ngModel)] = "userData.cell_no">Cellphone no.</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" [(ngModel)] = "userData.password">password</ion-label>
      <ion-input></ion-input>
    </ion-item>
    
    <ion-button shape="round" (click) ="register()" >Register</ion-button>
    <ion-button shape = "round" (click)= "backButton()">Cancel</ion-button>
  
  
</ion-content>
