<ion-header>
  <ion-toolbar color = 'warning'>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Customer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-item>
    <ion-label position="floating">First Name</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Last Name</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Cellphone number</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Confirm Password</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-button shape="round" (click)="goHome()">Register</ion-button>
  <ion-button shape = "round" (click)= "backButton()">Cancel</ion-button>
</ion-card>
</ion-content>
