<script src="cordova.js"></script>
<script>
  //.controller('')
</script>
<body>
  
  <ion-header>

    <ion-toolbar color="warning">

      <!-- <ion-icon name="menu" (click)="presentActionSheet()"></ion-icon> -->
<!-- >>>>>>> 83fdc24b6241fe28dcbe71e2e921cbf5b3b33c0c -->


      <ion-icon name="arrow-back" (click)="backButton()"></ion-icon>


      <ion-title>Order</ion-title>
    </ion-toolbar>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"/>
  </ion-header>
  
  <ion-content padding>


    <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCart()" #cart>
      <div class="cart-length">{{cartItemCount | async}}</div>
      <ion-icon name="cart" class="cart-icon"></ion-icon>
    </ion-fab-button>
    </ion-fab>
  
     <h4>Menu</h4>
    <!-- <ion-segment scrollable value="heart">
      <ion-segment-button value="home">
        <ion-icon name="home"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="heart">
        <ion-icon name="heart"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="pin">
        <ion-icon name="pin"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="call">
        <ion-icon name="call"></ion-icon>
      </ion-segment-button>
    </ion-segment> -->
     <ion-list>
       <ion-row>
        <ion-img class="logo" src="assets/images/logo3.png" alt=""></ion-img>
       </ion-row>

     <ion-card (click)="exProduct(p)" (click)="openExtras()" *ngFor="let p of menuList">
      <ion-card-header>
        <ion-card-title>{{p.item_name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-label color="primary">
              <b>{{p.item_description}}</b>
            </ion-label>
          </ion-col>
          <ion-col size="12" class="ion-text-right">
            <ion-label color="secondary">
              <b>{{p.item_price | currency:'R'}}</b>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-card-content>
     </ion-card>
    
    
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img class="" src="assets/images/maotwana.jpg" alt=""></ion-img>
        </ion-col>
        <ion-col>
          <ion-img class="" src="assets/images/mogodu2.jpg" alt=""></ion-img>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col size="6">
          <ion-img class="" src="assets/images/mogodu1.jpg" alt=""></ion-img>
        </ion-col>
        <ion-col>
          <ion-img class="" src="assets/images/maotwana4.jpg" alt=""></ion-img>
        </ion-col>
        <ion-col>
          <ion-img class="" src="assets/images/maotwana3.jpg" alt=""></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  </ion-content>
</body>