<ion-header>
  <ion-toolbar color="warning">
    <ion-icon name="arrow-back" size="large" (click)="back()"></ion-icon>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="/assets/images/signup_male.png" alt="profile">
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="user-meta ion-text-center">
      <h3 class="playername">Welcome</h3>
      <h5 class="country">Kasi Food Hub</h5>
      <ion-item>
        <ion-label position="floating" class="country">email</ion-label>
        <ion-input ngModel #email ="ngModel" type="text" [(ngModel)]="userData.email" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="country">password</ion-label>
        <ion-input ngModel #password ="ngModel" [(ngModel)]="userData.password" type ="password"></ion-input>
      </ion-item>
      <ion-button expand="full" type='submit' color="success" (click)="signin()">Log in</ion-button>
    </div>  
  </div>
</ion-content>

