.masters{
    background-color: orange;
}

.content-color{
    background-color: black;
}

ion-content{
   --background: rgb(201, 92, 41);
   // --background-image: url(/src/assets/images/kfh6.png);
   // --background: url(/src/assets/images/kfh6.png) 0 0/100% 100% no-repeat;
   //assets/images/kfh6.png
}

.card {
  --background: gold;
  padding: 30px;
  height: calc(100vh - (200px + 56px));
  overflow: hidden;
  }
  .card-body {
    
    --background: gold;
    padding: 30px;
    height: calc(100vh - (200px + 56px));
    overflow: hidden;
  }
  .header img {
    float: left;
    width: 85px;
    height: 85px;
    background: #555;
  }
  
  .header a{

    position: 100%;
    padding: 2px 20px;
    width: 100rem 300rem;
    padding-right: 30px;
    top: 30px;
    left: 10px;
    
  }
  .header h1 {
    position: relative;
    top: 18px;
    left: 10px;
  }
  .pics{
    
    width: auto;
    padding: 30px;
   
  }

  