<ion-header> 
  <ion-toolbar color = "warning" >
    <ion-title>
      Kasi Food Hub
    </ion-title>
    
  </ion-toolbar>
      <ion-col>
        <ion-icon name="menu-sharp" (click)="presentActionSheet()"></ion-icon>
      </ion-col>
  <ion-searchbar [(ngModel)] = "searchTerm"></ion-searchbar>

</ion-header>

<ion-content>
  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content> 
  </ion-refresher>

  <!--Restaurants picture with the view button-->
  <ion-card class="card">
    <ion-card-title>Restaurants</ion-card-title>
    <ion-card-content>
      
      <!-- Data to display after skeleton screen AND PASTE CODE BELOW THIS-->
    
      <!-- <div>
        <ion-card *ngFor = "let item of [].constructor(10)">
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>
  
          <ion-card-content>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem, quidem! Non quis excepturi inventore temporibus.
          </ion-card-content>
        </ion-card>
      </div> -->

      <div>
        <ion-card *ngFor = "let item of [].constructor(20)">
          <ion-card-header>
            <ion-card-subtitle>
              <ion-skeleton-text animated style="width: 30%">
                
              </ion-skeleton-text>
            </ion-card-subtitle>

            <ion-card-title>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </ion-card-title>
          </ion-card-header>
  
          <ion-card-content>
            <ion-skeleton-text></ion-skeleton-text>
            <ion-skeleton-text></ion-skeleton-text>
            <ion-skeleton-text></ion-skeleton-text>
            <ion-skeleton-text></ion-skeleton-text>
            <ion-skeleton-text></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </ion-card-content>
        </ion-card>
      </div>

    </ion-card-content>
  </ion-card>

    <!-- Data to display after skeleton screen -->

 </ion-content>
